<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutCoversAnnotation="false"
         backupGlobals="false"
>
    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767"/>
        <!-- Do not limit the amount of memory tests take to run. -->
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" title="bartfeenstra/fu-php" charset="UTF-8"
             highlight="true" lowUpperBound="60" highLowerBound="90"/>
    </logging>
</phpunit>
